.socials img {
    width: 40px;
    height: 40px;
}

.scroll {
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.project-image img {
    width: 400px;
    height: auto;
}